<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Test</title>

    <script src="./Libraries/angular.js"></script>
    <link href="./Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="./Libraries/bootstrap.css" rel="stylesheet" />    <script>



        var app = angular.module("myApp", []);

        app.controller("myAppCtrl", function ($scope) {
          class Equetion {
            constructor(){
              this.operand1 = this.RandomOperand();
              this.operand2 = this.RandomOperand();
              this.symbol = this.RandomSymbol();
              this.answerUser;
              this.answerAfterCheck;
            }

            RandomSymbol(){
              return Equetion.staticSymbolMas[Math.floor(Math.random()*Equetion.staticSymbolMas.length)];
            }

            RandomOperand(){
              return Math.floor(Math.random()*(100));
            }

            Check() {
              let answerComputer;
              switch(this.symbol) {
                case "+":{
                   answerComputer = this.operand1 + this.operand2;
                   break;
                }
                case "-":{
                  answerComputer = this.operand1 - this.operand2;
                  break;
                }
                case "*":{
                  answerComputer =  this.operand1 * this.operand2;
                  break;
                }
                case "/":{
                  answerComputer = this.operand1 / this.operand2;
                  break;
                }
              }
              if(this.answerUser == answerComputer)
                this.answerAfterCheck = true;
              else
                this.answerAfterCheck = false;
            }
          }

          Equetion.Symbol = function(symbol){
            let temp = Equetion.staticSymbolMas.indexOf(symbol);
            if(temp == -1) {
              Equetion.staticSymbolMas.push(symbol);
            }
            else {
              Equetion.staticSymbolMas.splice(temp, 1);
            }
          }

          Equetion.staticSymbolMas = ['+','-','*','/'];

          $scope.CheckAll = function() {
            for(let i = 0; i < 10; i++) {
               $scope.tasks[i].Check();
            }
          }

          $scope.tasks = [];

          for(let i = 0; i < 10; i++) {
             $scope.tasks[i] = new Equetion();
          }

        });




        // Equetion.Symbol("+");
        // console.log(Equetion.staticSymbolMas);

        // let tasks = [];
        // for(let i = 0; i < 10; i++) {
        //   tasks[i] = new Equetion();
        // }

        // console.log(tasks);
        //
        // CheckAll();
        //
        //
        // console.log(tasks);
    </script>
</head>
<body>
    <div ng-controller="myAppCtrl">
        <!-- <div>{{task.operand1}}</div> -->

        <div class="container">
          <table class="table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Task</th>
                       <th>Answer</th>
                       <th><button type="button" class="btn btn-default" ng-click="CheckAll()">Check</button></th>
                   </tr>
               </thead>

                <tr ng-repeat="task in tasks">
                   <td>{{$index+1}}</td>
                   <td>{{task.operand1}} {{task.symbol}} {{task.operand2}}</td>
                   <td>
                     <form class="form-inline">
                      <div class="form-group">
                         <input type="text" class="form-control" id="exampleInputName2" placeholder="answer" ng-model="task.answerUser">
                       </div>
                    </form>
                   </td>
                   <td>{{task.answerUser}}</td>
                   <td>{{task.answerAfterCheck}}</td>
                </tr>


                <!-- <tr>
                   <td>
                     <form class="form-inline">
                      <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="answer">
                      </div>
                    </form>
                  </td>
                  <td></td>
               </tr> -->




           </table>
       </div>
    </div>
</body>
</html>
